header{
    width: 60%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.information{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.more{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.more img{
    width: 50px;
    height: 50px;
}
.info{
    width: 50%;
    margin: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.information p{
    width: 100%;
    color: #00c8ff;
}
.information h1{
    width: 100%;
}
.information h2{
    width: 100%;
    color: gray;
}
.information h3{
    width: 100%;
    color: gray;
}
.name{
    color: #00c8ff;
}
.Contact{
        background: #00c8ff;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 35px;
    text-align: center;
    
}
.keyword{
    color: red;

}
.variable{
    color: blue;
}
.purple{
    color: purple;
    margin-top:5px ;
    margin-bottom:5px ;
}
.green{
    color: green;
    margin-top:10px ;
    margin-bottom:10px ;
}
.da{
    color: gray;
}
.orange{
    color: orange;
}
.red{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
}
.yellow{
       width: 15px;
    height: 15px;
    border-radius: 50%;
    background: yellow; 
}
.green-block{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
}
.colors{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.more-info{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
