header{
    width: 60%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.information{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.more{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.more img{
    width: 50px;
    height: 50px;
}
.info{
    width: 50%;
    margin: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.information p{
    width: 100%;
    color: #3b82f6;
}
.information h1{
    width: 100%;
}
.information h2{
    width: 100%;
    color: #93a2b8;
}
.information h3{
    width: 100%;
    color: #93a2b8;
}
.name{
   color: #3b82f6;
}
.Contact{
    background:#3b82f6;
    color: #0f172a;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 35px;
    text-align: center;
    
}
.keyword{
   color: rgb(239, 68, 68);

}
.variable{
    color: rgb(37, 99, 235);
}
.purple{
    color: rgb(147, 51, 234);
    margin-top:5px ;
    margin-bottom:5px ;
}
.green{
    color: rgb(22, 163, 74);
}
.da{
    color: gray;
}
.orange{
    color:rgb(249, 115, 22);
}
.red{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(219 39 119);
}
.yellow{
       width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(234, 179, 8); 
}
.green-block{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(34, 197, 94);
}
.colors{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.more-info{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.code{
    height: 150px;}
