.box{
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(2, 8, 23);
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  flex-wrap: wrap;
}