nav{
width: 80%;
height: 50px;
display: flex;
justify-content: space-between;
margin-top: 10px;
  position: sticky;
  top: 20px; /* Отступ от верхнего края экрана при фиксации */
  z-index: 100; /* Чтобы блок был поверх остальных элементов */
  background: rgb(2, 8, 23) ;
}
.navigation{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation button{
    color: #0f172a;
    background:#3b82f6;
    border: none;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    text-align: center;
   
}
nav img{
    width: 35px;
    height: 35px;
}
.name{
    color: #3b82f6;
}